In [3]:
''' 	SR2 â€“ Pre-processing (15 marks):
Write Python code to understand and clean the dataset. This should include:
o	Understanding the size, data types, columns, rows, data slicing and indexing of the dataset as whole.
o	identify missing data 
o	 Normalizing or standardizing data if required
o	Describe the data types that are used in relation to machine learning by using one column for your data set for each machine learning or statistical dataset on a markdown cell.
'''

import pandas as pd 
df = pd.read_csv('C:\\Users\\HP\\Documents\\TPtest\\Informal-Settlement-Matrix.csv')

In [6]:
#Basic Data Inspection
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   is_cluster               434 non-null    object
 1   pocket_name              434 non-null    object
 2   pocket_alias             192 non-null    object
 3   ward_id                  434 non-null    int64
 4   ward_councillor          434 non-null    object
 5   avg_hhsize               434 non-null    float64
 6   area_ha                  434 non-null    float64
 7   density_dwellings        434 non-null    float64
 8   structure_count          434 non-null    int64
 9   age_of_is                434 non-null    object
 10  upgrade_category         434 non-null    object
 11  temp_sanitation          434 non-null    float64
 12  toilets_full_flush       434 non-null    float64
 13  toilets_chemical         434 non-null    float64
 14  toilets_portable         434 non-null    float64
 15  toilets_container        434 non-null    float64
 16  toilets_other            434 non-null    float64
 17  toilets_total            434 non-null    float64
 18  ratio_toilets_dwellings  343 non-null    object
 19  pocket_code              434 non-null    object
 20  centroidx                434 non-null    float64
 21  centroidy                434 non-null    float64
dtypes: float64(12), int64(2), object(8)
memory usage: 74.7+ KB

,ward_id,avg_hhsize,area_ha,density_dwellings,structure_count,temp_sanitation,toilets_full_flush,toilets_chemical,toilets_portable,toilets_container,toilets_other,toilets_total,centroidx,centroidy
count,4.340000e+02,434.000000,434.000000,434.000000,434.000000,434.000000,434.000000,434.000000,434.000000,434.000000,434.000000,434.000000,434.000000,434.000000
mean,1.910006e+07,3.337143,4.462938,183.057795,337.744240,31.369426,31.283410,11.582949,36.700461,11.698157,2.836406,94.101382,18.603335,-33.987186
std,3.102414e+01,0.535691,32.968974,182.105873,859.580015,43.844564,87.902084,48.968423,205.429506,73.071471,28.036655,314.532145,0.106208,0.099290
min,1.910000e+07,2.190000,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18.341108,-34.202636
25%,1.910004e+07,2.892500,0.140000,90.022903,21.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,18.544694,-34.025843
50%,1.910007e+07,3.230000,0.389000,174.685262,53.000000,0.000000,4.000000,0.000000,0.000000,0.000000,0.000000,10.000000,18.590699,-34.005508
75%,1.910009e+07,3.710000,1.904000,254.274750,289.500000,89.193297,16.000000,0.000000,0.000000,0.000000,0.000000,57.500000,18.662143,-33.985590
max,1.910011e+07,5.110000,669.406000,3007.299270,7963.000000,100.000000,1095.000000,578.000000,3109.000000,883.000000,525.000000,4807.000000,18.910236,-33.538179

In [7]:
#Identify missing data
missing_values = df.isnull().sum() 
print(missing_values)

is_cluster                   0
pocket_name                  0
pocket_alias               242
ward_id                      0
ward_councillor              0
avg_hhsize                   0
area_ha                      0
density_dwellings            0
structure_count              0
age_of_is                    0
upgrade_category             0
temp_sanitation              0
toilets_full_flush           0
toilets_chemical             0
toilets_portable             0
toilets_container            0
toilets_other                0
toilets_total                0
ratio_toilets_dwellings     91
pocket_code                  0
centroidx                    0
centroidy                    0
dtype: int64

In [9]:
#column labels of a dataframe.
df.columns

Index(['is_cluster', 'pocket_name', 'pocket_alias', 'ward_id',
       'ward_councillor', 'avg_hhsize', 'area_ha', 'density_dwellings',
       'structure_count', 'age_of_is', 'upgrade_category', 'temp_sanitation',
       'toilets_full_flush', 'toilets_chemical', 'toilets_portable',
       'toilets_container', 'toilets_other', 'toilets_total',
       'ratio_toilets_dwellings', 'pocket_code', 'centroidx', 'centroidy'],
      dtype='object')

In [10]:
#Data Types
df.dtypes

is_cluster                  object
pocket_name                 object
pocket_alias                object
ward_id                      int64
ward_councillor             object
avg_hhsize                 float64
area_ha                    float64
density_dwellings          float64
structure_count              int64
age_of_is                   object
upgrade_category            object
temp_sanitation            float64
toilets_full_flush         float64
toilets_chemical           float64
toilets_portable           float64
toilets_container          float64
toilets_other              float64
toilets_total              float64
ratio_toilets_dwellings     object
pocket_code                 object
centroidx                  float64
centroidy                  float64
dtype: object

In [11]:
#the size in the DataFrame
df.size

9548

In [12]:
#Shape
df.shape

(434, 22)